body{
  margin:0;
  font-family: Arial;
  background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
  color:white;
}

.container{
  width:90%;
  max-width:400px;
  margin:100px auto;
  background:#111;
  padding:25px;
  border-radius:15px;
  text-align:center;
}

h1,h2{
  color:#f5c542;
}

input,select{
  width:100%;
  padding:12px;
  margin:10px 0;
  border-radius:8px;
  border:none;
}

.btn,button{
  display:block;
  width:100%;
  padding:12px;
  margin:10px 0;
  background:#f5c542;
  color:black;
  border:none;
  border-radius:10px;
  font-size:16px;
  cursor:pointer;
}

.offer,.fee{
  margin-top:15px;
  font-weight:bold;
}

.note{
  font-size:12px;
  opacity:0.7;
}